<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>Admin Panel</div>
    <div>
      
    </div>
    <div>

        @RenderBody() @*Değişken kısmıdır*@
    </div>
    
    <div>

      
    </div>

    <div>Footer</div>

</body>
</html>
